.topbar {
    width: 95%;
    padding: 5px;
    text-align: right;
    margin: 20px;
    margin-right: 20px;
}
a:link, a:visited {
    text-decoration: none;
    padding: 5px;
    color: black;
}
a:hover {
    text-decoration: underline;
}

.custom-input {
    width: 100%;
    border: 2px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    outline-color: transparent;
    background-color: transparent;
    font-size: 16px;
    background-image: url(search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 11px;
}
input[type=text]:hover {
    box-shadow: #dfe1e5 ;
}
.custom-div {
    position: fixed;
    width: 50%;
    top: 30%;
    left: 25%;
    transform: translate(0, -50%);
    align-content: center;
}

.custom-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.titlebar {
    color:#d93025;
    font-size: 25px;
    padding: 15px;
}

.form-title {
    color:rgb(0, 0, 0);
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
}

.row {
    padding: 15px;
}

.col {
    padding: 10px;
}